@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    background-color: #e5e5e5;
    font-family: 'Murecho', sans-serif;
}

.container-contato{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin:5% 30% 5% 30%;
}